@model Cinema.Models.Domain.Movie

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Movie</h2>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <label asp-for="@Model.Name" class="control-label"></label>
                <input asp-for="@Model.Name" class="form-control"/>
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Director" class="control-label"></label>
                <input asp-for="@Model.Director" class="form-control"/>
                <span asp-validation-for="@Model.Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Image" class="control-label"></label>
                <input asp-for="@Model.Image" class="form-control"/>
                <span asp-validation-for="@Model.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Description" class="control-label"></label>
                <input asp-for="@Model.Description" class="form-control"/>
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Genre" class="control-label"></label>
                <input asp-for="@Model.Genre" class="form-control"/>
                <span asp-validation-for="@Model.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Price" class="control-label"></label>
                <input asp-for="@Model.Price" class="form-control"/>
                <span asp-validation-for="@Model.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Duration" class="control-label"></label>
                <input asp-for="@Model.Duration" class="form-control"/>
                <span asp-validation-for="@Model.Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
                <a asp-action="Delete" asp-controller="Movies" asp-route-id="@Model.Id" class="btn btn-danger" role="button">Delete</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>